In [3]:
import pandas as pd
import plotly as pl
url = "combined_job_offers.csv"

df = pd.read_csv(url)
pd.set_option('display.max_columns', None)
df.head(50)

,job_title,company_name,post_date,repost_date,email,number_of_employees,job_desc,num_applicants,job_type,job_level,job_remote,language,salary,sector,link,search_term
0,Data & ML Engineer AWS,Vattenfall,NaN,NaN,dominik.friebe@vattenfall.de.,"10,001+",Über die Stelle\n\nInteressierst Du dich für D...,0,Full-time,Associate,Hybrid,de,NaN,Utilities,https://www.linkedin.com/jobs/view/3855584197/...,data engineer
1,Senior Data Engineer (m/f/d),LexisNexis IPlytics GmbH,NaN,NaN,NaN,11-50,NaN,Over 100,Full-time,NaN,Hybrid,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3823152488/...,data engineer
2,Senior Analytics Engineer | Paid relocation to...,Preply,NaN,NaN,NaN,"501-1,000","At Preply, we are unlocking human potential th...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3825942503/...,data engineer
3,Principal Data Engineer (all genders),Babbel,15-12-2023,07-03-2024,NaN,"1,001-5,000",Babbel is the top-selling language learning pl...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,E-Learning Providers,https://www.linkedin.com/jobs/view/3787029019/...,data engineer
4,Team Lead Data Engineer (m/f/d),SoSafe,NaN,08-02-2024,NaN,201-500,Are you skilled in the art of transforming raw...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3820668015/...,data engineer
5,Senior Big Data Engineer (m/f/d),Digital Turbine,06-02-2024,29-02-2024,NaN,"501-1,000","At Digital Turbine, we make mobile advertising...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Advertising Services,https://www.linkedin.com/jobs/view/3818848839/...,data engineer
6,System Analysis Engineer - API Management (m/f/d),CARIAD,NaN,NaN,careers@cariad.technology,"5,001-10,000","At CARIAD, we're bundling and further expandin...",49,Full-time,Entry level,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3808821029/...,data engineer
7,Data Engineer (f/m/d) - Marketing,IONOS,06-03-2024,NaN,NaN,"1,001-5,000",We are seeking a highly skilled and experience...,64,Full-time,Associate,Remote,en,NaN,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3847543162/...,data engineer
8,Linux System Engineer - Endpoint Management (a...,Zalando,NaN,22-02-2024,NaN,"10,001+",About The Team\n\n\nDepartment Workplace Infr...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Retail,https://www.linkedin.com/jobs/view/3773778097/...,data engineer
9,(Junior) Systemingenieur / Systems Engineer (w...,Siemens,NaN,29-02-2024,NaN,"10,001+",Gemeinsam machen wir den Unterschied\n\nSiemen...,Over 100,Full-time,NaN,On-site,de,NaN,Automation Machinery Manufacturing,https://www.linkedin.com/jobs/view/3729348419/...,data engineer
10,Senior Machine Learning Research Engineer,Seqana,07-02-2024,NaN,jobs@seqana.com.,11-50,Join us in the global movement for climate act...,Over 100,Full-time,NaN,On-site,en,NaN,NaN,https://www.linkedin.com/jobs/view/3824664781/...,data engineer
11,Senior Data Engineer for Lounge by Zalando (al...,Zalando,NaN,29-02-2024,NaN,"10,001+",THE ROLE & THE TEAM\n\n\nLounge by Zalando is ...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Retail,https://www.linkedin.com/jobs/view/3803203246/...,data engineer
12,Senior Data Engineer (F/M/D) - Berlin,Vestiaire Collective,NaN,NaN,NaN,"501-1,000",Vestiaire Collective is the leading global onl...,Over 100,Full-time,Associate,Hybrid,en,NaN,Retail Apparel and Fashion,https://www.linkedin.com/jobs/view/3834371549/...,data engineer
13,Staff Data Engineer (d/f/m),Personio,NaN,NaN,NaN,"1,001-5,000",The Role: How you'll make an impact at Personi...,40,Full-time,Mid-Senior level,NaN,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3838433019/...,data engineer
14,"Analytics Engineer, Help Experience",Vinted,23-02-2024,NaN,NaN,"1,001-5,000",Brief info about Vinted\n\nVinted Marketplace ...,69,Full-time,Associate,NaN,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3837031695/...,data engineer
15,Analytics Engineer,Wargaming,25-01-2024,22-02-2024,NaN,"1,001-5,000",Job Overview\nMobile BI and New Games analytic...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Computer Games,https://www.linkedin.com/jobs/view/3812842287/...,data engineer
16,(Senior) M365 / Azure Engineer – based in Poland,European Investment Bank (EIB),NaN,NaN,Jobs@eib.org,"1,001-5,000","The EIB, the European Union's bank, is seeking...",5,Full-time,NaN,On-site,en,NaN,Banking,https://www.linkedin.com/jobs/view/3838563253/...,data engineer
17,Project Engineer / Software Developer (m/w/d) ...,CONTACT Software,15-01-2024,29-02-2024,NaN,201-500,Sie sind erfahren in der Softwareprogrammierun...,36,Full-time,Entry level,Hybrid,de,NaN,Software Development,https://www.linkedin.com/jobs/view/3806861993/...,data engineer
18,"Data Engineer, Senior",Affinidi,NaN,29-02-2024,NaN,201-500,About The Company\n\nAffinidi is a technology ...,Over 100,Full-time,Mid-Senior level,On-site,en,NaN,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/3822850509/...,data engineer
19,Senior Backend Engineer / Data Engineer,Staffbase,NaN,NaN,NaN,"501-1,000","As a Senior Engineer, you will play a key role...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3833093124/...,data engineer
20,Analytics Engineer - Risk Management Tech (f/d/m),Trade Republic,20-02-2024,NaN,talentacquisition@traderepublic.com.,201-500,"LIGHTHOUSE FOR TALENT\n\nAt Trade Republic, we...",Over 100,Full-time,Mid-Senior level,On-site,en,NaN,Financial Services,https://www.linkedin.com/jobs/view/3834366211/...,data engineer
21,Datenbankentwickler:in,Vattenfall,21-02-2024,22-02-2024,martin.pomerenke@vattenfall.de.,"10,001+",Über die Stelle\n\nDu bist auf der Suche nach ...,27,Full-time,Associate,Hybrid,de,NaN,Utilities,https://www.linkedin.com/jobs/view/3835861611/...,data engineer
22,Senior Principal Data Engineer (all genders),Zalando,NaN,07-03-2024,NaN,"10,001+","INCLUSIVE BY DESIGN\n\n\nAt Zalando, our visio...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Retail,https://www.linkedin.com/jobs/view/3734441579/...,data engineer
23,Senior Data Engineer (w/m/d),HeyJobs,20-02-2024,NaN,NaN,201-500,Help us prevent the coming labor shortage disa...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3834689290/...,data engineer
24,Data Platform Engineer,Zalando,NaN,07-03-2024,NaN,"10,001+",THE ROLE & THE TEAM\n\nAs a Software Engineer ...,34,Full-time,Mid-Senior level,Remote,en,NaN,Retail,https://www.linkedin.com/jobs/view/3843744622/...,data engineer
25,IT Engineer – Microsoft Exchange,IAV GmbH,NaN,29-02-2024,NaN,"5,001-10,000",Diese Herausforderung erwartet dich:\n\nDas Th...,28,Full-time,Mid-Senior level,Hybrid,de,NaN,Engineering Services,https://www.linkedin.com/jobs/view/3804279683/...,data engineer
26,Smart-Home Integration Developer (m/f/d),ASSA ABLOY Group,NaN,NaN,NaN,"10,001+",ASSA ABLOY ist der weltweit führende Anbieter ...,36,Full-time,Entry level,NaN,de,NaN,NaN,https://www.linkedin.com/jobs/view/3774722527/...,data engineer
27,System Engineer Disposables,Novanta Inc.,NaN,22-02-2024,NaN,"1,001-5,000",Build a career powered by innovations that mat...,65,Full-time,Mid-Senior level,On-site,en,NaN,"Appliances, Electrical, and Electronics Manufa...",https://www.linkedin.com/jobs/view/3741075896/...,data engineer
28,"Senior MLOps Engineer, Machine Learning Platform",GetYourGuide,21-07-2023,29-02-2024,jobs@getyourguide.com.,"501-1,000","As a Senior MLOps Engineer, you'll join our Ma...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3673062738/...,data engineer
29,Senior Data Engineer - Experimentation Platform,Zalando,NaN,NaN,NaN,"10,001+",Zalando’s Economics & Experimentation departme...,Over 100,Full-time,Mid-Senior level,NaN,en,NaN,NaN,https://www.linkedin.com/jobs/view/3768184865/...,data engineer
30,Senior Data Engineer,Aiven,30-01-2024,22-02-2024,recruitment@aiven.io.,"501-1,000",Our vision is to become the trusted open sourc...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3817738609/...,data engineer
31,Senior Data Engineer - Demand Personal Relevan...,Zalando,NaN,NaN,NaN,"10,001+",THE ROLE & THE TEAM\n\n\nLounge by Zalando is ...,23,Full-time,Mid-Senior level,Hybrid,en,NaN,Retail,https://www.linkedin.com/jobs/view/3841589586/...,data engineer
32,Senior Software Engineer - Search & Recommenda...,Vestiaire Collective,NaN,NaN,NaN,"501-1,000",Vestiaire Collective is the leading global onl...,62,Full-time,Mid-Senior level,Hybrid,en,NaN,Retail Apparel and Fashion,https://www.linkedin.com/jobs/view/3835522435/...,data engineer
33,Senior Principal Data Engineer,Zalando,NaN,07-03-2024,NaN,"10,001+",What We'd Love You To Do (And Love Doing)\n\nW...,79,Full-time,Mid-Senior level,On-site,en,NaN,Retail,https://www.linkedin.com/jobs/view/3811900819/...,data engineer
34,Data Engineer,Linnk Group,12-03-2024,NaN,NaN,51-200,Job Title – Data/BI Engineer\nLocation – Berli...,Over 100,Contract,Mid-Senior level,On-site,en,NaN,Information Technology & Services,https://www.linkedin.com/jobs/view/3854453453/...,data engineer
35,Tech Lead Data Engineer,Orange Quarter,NaN,NaN,NaN,11-50,Orange Quarter are looking for a Tech Lead Dat...,24,Full-time,Mid-Senior level,Hybrid,en,NaN,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3837640596/...,data engineer
36,Staff SW Engineer Machine Learning - Edge Acce...,CARIAD,NaN,29-02-2024,NaN,"5,001-10,000","At CARIAD, we're bundling and further expandin...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3654447482/...,data engineer
37,Data Engineer (d/f/m),mobile.de,NaN,29-02-2024,NaN,201-500,mobile.de is Germany's largest vehicle marketp...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/3819747514/...,data engineer
38,Senior Python Entwickler (w/m/d) AI-Anwendungen,Siemens,NaN,29-02-2024,NaN,"10,001+",Gemeinsam machen wir den Unterschied\n\nSiemen...,68,Full-time,NaN,On-site,de,NaN,Automation Machinery Manufacturing,https://www.linkedin.com/jobs/view/3816892962/...,data engineer
39,Senior Data Engineer,Opus Recruitment Solutions,06-03-2024,NaN,NaN,201-500,Senior Data Engineer/Manager - Berlin - Hybrid...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3844029508/...,data engineer
40,"Analytics Engineer - Ops, Merchants",Wolt,NaN,29-02-2024,michal.szafraniec@wolt.com,"5,001-10,000",Job Description\n\nAbout the Team\n\nAnalytics...,Over 100,Full-time,Executive,On-site,en,NaN,Software Development,https://www.linkedin.com/jobs/view/3819598053/...,data engineer
41,Data Solutions Engineer - Schwerpunkt Data Eng...,Trendence Institut,NaN,NaN,NaN,51-200,Start: ab Mai/Juni | unbefristet | Berlin (hyb...,31,Full-time,Associate,Hybrid,de,NaN,Human Resources Services,https://www.linkedin.com/jobs/view/3830960258/...,data engineer
42,Senior Machine Learning Engineer - Connected N...,Zalando,NaN,29-02-2024,NaN,"10,001+",THE ROLE & THE TEAM\n\nIn Zalando ZEOS (B2B Lo...,Over 100,Full-time,Mid-Senior level,On-site,en,NaN,Retail,https://www.linkedin.com/jobs/view/3804262358/...,data engineer
43,Referentin / Referenten (m/w/d) als Daten- und...,German Federal Ministry of Digital and Transport,NaN,NaN,verena.grass@bmdv.bund.de,"10,001+","Wir, das Bundesministerium für Digitales und V...",54,Full-time,NaN,On-site,de,NaN,Executive Offices,https://www.linkedin.com/jobs/view/3835940384/...,data engineer
44,Data Engineer (m/f/d),ProSiebenSat.1 Media SE,NaN,NaN,NaN,"5,001-10,000",Introduction Sentence\n\nMore than one billion...,Over 100,Full-time,Associate,Hybrid,en,NaN,Broadcast Media Production and Distribution,https://www.linkedin.com/jobs/view/3841592416/...,data engineer
45,"Data & Analytics Engineer, Senior Staff (m/f/d)",Affinidi,NaN,NaN,NaN,201-500,About The Company\n\nAffinidi is a technology ...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3770550381/...,data engineer
46,Data Platform Engineer,Chainlink Labs,NaN,NaN,NaN,"501-1,000",About Us\n\nChainlink Labs is the primary cont...,32,Full-time,Mid-Senior level,Remote,en,NaN,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/3842671409/...,data engineer
47,Data Engineer,Understanding Recruitment,21-02-2024,NaN,NaN,51-200,Data Engineer | Social Impact | Berlin\n\nRead...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3835558425/...,data engineer
48,Senior Data Engineer (m/f/d),SoSafe,NaN,08-02-2024,NaN,201-500,Are you skilled in the art of transforming raw...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3828214349/...,data engineer
49,Senior Data Engineer & Databricks Specialist (...,flaconi,NaN,NaN,NaN,"501-1,000","At flaconi, we believe that diversity fuels cr...",74,Full-time,Associate,Hybrid,en,NaN,Online and Mail Order Retail,https://www.linkedin.com/jobs/view/3840253970/...,data engineer

In [6]:
df.columns

Index(['job_title', 'company_name', 'post_date', 'repost_date', 'email',
       'number_of_employees', 'job_desc', 'num_applicants', 'job_type',
       'job_level', 'job_remote', 'language', 'salary', 'sector', 'link',
       'search_term'],
      dtype='object')