In [19]:
import pandas as pd
import plotly as pl

url = "combined_job_offers.csv"
url2 = "combined_job_offers3.csv"

df1 = pd.read_csv(url)
df2 = pd.read_csv(url2)

df3 = pd.concat([df1,df2],axis=0)

pd.set_option('display.max_columns', None)
df3

,job_title,company_name,post_date,repost_date,email,number_of_employees,job_desc,num_applicants,job_type,job_level,job_remote,language,salary,sector,link,search_term
0,Data & ML Engineer AWS,Vattenfall,NaN,NaN,dominik.friebe@vattenfall.de.,"10,001+",Über die Stelle\n\nInteressierst Du dich für D...,0,Full-time,Associate,Hybrid,de,NaN,Utilities,https://www.linkedin.com/jobs/view/3855584197/...,data engineer
1,Senior Data Engineer (m/f/d),LexisNexis IPlytics GmbH,NaN,NaN,NaN,11-50,NaN,Over 100,Full-time,NaN,Hybrid,NaN,NaN,NaN,https://www.linkedin.com/jobs/view/3823152488/...,data engineer
2,Senior Analytics Engineer | Paid relocation to...,Preply,NaN,NaN,NaN,"501-1,000","At Preply, we are unlocking human potential th...",Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3825942503/...,data engineer
3,Principal Data Engineer (all genders),Babbel,15-12-2023,07-03-2024,NaN,"1,001-5,000",Babbel is the top-selling language learning pl...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,E-Learning Providers,https://www.linkedin.com/jobs/view/3787029019/...,data engineer
4,Team Lead Data Engineer (m/f/d),SoSafe,NaN,08-02-2024,NaN,201-500,Are you skilled in the art of transforming raw...,Over 100,Full-time,Mid-Senior level,Hybrid,en,NaN,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3820668015/...,data engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,Business Intelligence Analyst (alll genders),simplesurance GmbH,NaN,NaN,NaN,51-200,Your platform for simple access to insurance\n...,60,Full-time,Entry level,On-site,en,NaN,Internet Publishing,https://www.linkedin.com/jobs/view/3840404267/...,data analyst
418,Senior Data Analyst (f/m/d),BMG - The New Music Company,NaN,NaN,NaN,"1,001-5,000","Founded in 2008, BMG has become the fourth-lar...",72,NaN,Mid-Senior level,NaN,en,NaN,Musicians,https://www.linkedin.com/jobs/view/3823889726/...,data analyst
419,Game Data Analyst (f/m/d),Kolibri Games,NaN,NaN,NaN,51-200,We are Kolibri Games - a mobile games develope...,Over 100,Full-time,NaN,Hybrid,en,NaN,NaN,https://www.linkedin.com/jobs/view/3764345446/...,data analyst
420,Senior Data Analyst,Pragmatike,NaN,NaN,NaN,1-10,"Job Description:\n\nLocation: Fully remote, EU...",Over 100,Full-time,Mid-Senior level,Remote,en,NaN,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3828775138/...,data analyst
421,Sr. Biosignal data analyst,Zander Labs,NaN,NaN,NaN,11-50,Zander Labs is a leader in neuroadaptive techn...,39,Full-time,NaN,On-site,en,NaN,Biotechnology,https://www.linkedin.com/jobs/view/3812932508/...,data analyst